## Only key show not value

# It is a public and push in github

PORT = 8000
MONGODB_URL=mongodb+srv://roshni:your-password@cluster0.kycfjtk.mongodb.net/videoTube
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET = rani-backend
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = roshni-backend
REFRESH_TOKEN_EXPIRY = 10d