## Only key show not value

# It is a public and push in github

PORT = 8000
MONGODB_URL=mongodb+srv://roshni:your-password@cluster0.kycfjtk.mongodb.net/videoTube
CORS_ORIGIN = *

ACCESS_TOKEN_SECRET = your_secret_key_here
ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET = your_refresh_secret_here
REFRESH_TOKEN_EXPIRY = 10d

CLOUDINARY_CLOUD_NAME= your_cloudinary_cloud_name
CLOUDINARY_API_KEY= your_cloudinary_api_key
CLOUDINARY_API_SECRET= your_cloudinary_api_secret